<form [formGroup]="ShapeDetailsForm" class="example-form">
  <div class="toolbar-container">
    <mat-grid-list cols="32" rowHeight="40px">
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <button mat-button [class]="selectedTypeClass" [matMenuTriggerFor]="objectType"></button>
        <mat-menu #objectType="matMenu" overlapTrigger="false">
          <div id="rectType" mat-button class="designer_rect_image" (click)="SelectObject($event)"></div>
          <div id="ellipseType" mat-button class="designer_ellipse_image" (click)="SelectObject($event)"></div>
          <div id="portType" mat-button class="designer_port_image" (click)="SelectObject($event)"></div>
          <div id="lineType" mat-button class="designer_line_image" (click)="SelectObject($event)"></div>
          <div id="gradientType" mat-button class="designer_gradient_line_image" (click)="SelectObject($event)"></div>
          <div id="bezierType" mat-button class="designer_bezier_line_image" (click)="SelectObject($event)"></div>
        </mat-menu>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <div mat-button class="designer_copy_image" (click)="CopyObject($event)"></div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <div mat-button class="designer_delete_image" (click)="DeleteObject($event)"></div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
        <mat-form-field class="shapeClassInput"
                        [floatLabel]="'never'">
          <input matInput
                 placeholder="Class"
                 aria-label="State"
                 [matAutocomplete]="shapeClass"
                 [formControl]="shapeClassControl">
          <mat-autocomplete #shapeClass="matAutocomplete">
            <mat-option *ngFor="let class of filteredshapeClassList  | async"
                        [value]="class">{{class}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6" [rowspan]="1" style="text-align:left">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
        <button mat-flat-button color="accent" style="width:20px"
                name="shapeColor"
                (click)="UpdatePort()">
          Add Port
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
        <button mat-flat-button color="accent" style="width:20px"
                name="shapeColor"
                (click)="UpdateLine()">
          Add Line
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="1" style="text-align:left">
        <button mat-flat-button color="accent"
                style="width:100%"
                name="shapeColor"
                (click)="UpdateState()">
          Update Graphic State
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <mat-form-field class="shapeClassInput"
                        [floatLabel]="'never'">
          <input matInput
                 placeholder="X"
                 aria-label="locx"
                 formControlName="locX">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <mat-form-field class="shapeClassInput"
                        [floatLabel]="'never'">
          <input matInput
                 placeholder="Y"
                 aria-label="locy"
                 formControlName="locY">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <mat-form-field class="shapeClassInput"
                        [floatLabel]="'never'">
          <input matInput
                 style="width:100%"
                 placeholder="W"
                 aria-label="width"
                 formControlName="sizeX">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <mat-form-field class="shapeClassInput"
                        [floatLabel]="'never'">
          <input matInput
                 placeholder="H"
                 aria-label="height"
                 formControlName="sizeY">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">

        <mat-form-field [floatLabel]="'never'">
          <div style="width:40px; background-color:transparent; padding-left:135px; text-align:right">
            <input type="number" class="widthInput" min="1" max="10" matInput placeholder="1" [formControl]="lineWidthControl">
          </div>
        </mat-form-field>
        <!--<mat-form-field class="shapeClassInput"
                    [floatLabel]="'never'">
      <input matInput
             placeholder="Port"
             aria-label="State"
             [matAutocomplete]="portName"
             [formControl]="portControl">
      <mat-autocomplete #portName="matAutocomplete">
        <mat-option *ngFor="let port of filteredPortList  | async"
                    [value]="port">{{port}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>-->
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
        <button mat-button [matMenuTriggerFor]="color" (menuOpened)="SetProperties()">Color</button>
        <mat-menu #color="matMenu" overlapTrigger="false"
                  style="background-color:steelblue;">
          <div style="background-color:steelblue; padding-left:25px">
            <span [style.background]="selectedColor"
                  [cpToggle]="true" [cpDialogDisplay]="'inline'"
                  [cpCancelButton]="true"
                  [cpCancelButtonClass]="'btn btn-primary btn-xs'"
                  [(colorPicker)]="selectedColor"></span>
            <div style="width:90%">
              <mat-form-field class="shapeClassInput"
                              [floatLabel]="'never'">
                <input matInput
                       placeholder="Class"
                       aria-label="State"
                       [matAutocomplete]="shapeClass"
                       [formControl]="colorSSSControl">
                <!--<mat-autocomplete #shapeClass="matAutocomplete">
              <mat-option *ngFor="let class of filteredshapeClassList  | async"
                          [value]="class">{{class}}</mat-option>
            </mat-autocomplete>-->
              </mat-form-field>
              <button mat-flat-button color="accent"
                      name="shapeColor" class="colorButton"
                      (click)="ApplyColor('bg')">
                Select
              </button>
            </div>
          </div>
        </mat-menu>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
        <div *ngIf="canvasService.selectedType == ot.rectangle || canvasService.selectedType == ot.ellipse">
          <button mat-button [matMenuTriggerFor]="area">Area Options</button>
          <mat-menu #area="matMenu" overlapTrigger="false">
            <div class="toolbar-options-menu-group">
              <div>
                <mat-slide-toggle [disabled]="constantArea" name="constantArea" [(ngModel)]="lockedRatio">Locked Ratio</mat-slide-toggle>
              </div>
              <div>
                <mat-slide-toggle [disabled]="lockedRatio" name="lockRatio" [(ngModel)]="constantArea">Constant Area</mat-slide-toggle>
              </div>
            </div>
          </mat-menu>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
        <div *ngIf="canvasService.selectedType == ot.rectangle || canvasService.selectedType == ot.ellipse">
          <button mat-button [matMenuTriggerFor]="motion">Motion Range</button>
          <mat-menu #motion="matMenu" overlapTrigger="false">
            <mat-radio-group name="freedomOfMotion" [(ngModel)]="freedomOfMotion" class="toolbar-radio-group">
              <mat-radio-button class="toolbar-radio-button"
                                [checked]="freedomOfMotion==fom.full"
                                [value]="fom.full">Full</mat-radio-button>
              <mat-radio-button class="toolbar-radio-button"
                                [checked]="freedomOfMotion==fom.horizontal"
                                [value]="fom.horizontal">Horizontal</mat-radio-button>
              <mat-radio-button class="toolbar-radio-button"
                                [checked]="freedomOfMotion==fom.vertical"
                                [value]="fom.vertical">Vertical</mat-radio-button>
            </mat-radio-group>
          </mat-menu>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
        <div *ngIf="canvasService.selectedType == ot.rectangle || canvasService.selectedType == ot.ellipse">
          <button mat-button [matMenuTriggerFor]="sizing">Sizing</button>
          <mat-menu #sizing="matMenu" class="toolbar-menu" overlapTrigger="false" role="menuitemradio">
            <mat-radio-group name="freedomOfSizing" [(ngModel)]="freedomOfSizing" class="toolbar-radio-group">
              <mat-radio-button class="toolbar-radio-button"
                                [checked]="freedomOfSizing==fom.full"
                                [value]="fom.full">Full</mat-radio-button>
              <mat-radio-button class="toolbar-radio-button"
                                [checked]="freedomOfSizing==fom.horizontal"
                                [value]="fom.horizontal">Horizontal</mat-radio-button>
              <mat-radio-button class="toolbar-radio-button"
                                [checked]="freedomOfSizing==fom.vertical"
                                [value]="fom.vertical">Vertical</mat-radio-button>
            </mat-radio-group>
          </mat-menu>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</form>

