<!--<div style="display:inline-block; width:60px; margin-right:10px" *ngIf="Label.length > 1">
  <label>{{Label}}</label>
</div>
<div style="display:inline-block">-->
<mat-form-field [floatLabel]="'never'"
                *ngIf="editMode"
                [style.width.px]=150>
  <label *ngIf="IsValid && showLabel">
    {{Label}}
  </label>
  <label *ngIf="!IsValid && showLabel" class="invalid"
        [matTooltip]="InvalidMessage"
        [matTooltipPosition]="'after'">
    {{Label}} <span>*</span>
  </label>

  <input matInput
         (blur)="onUpdate()"
         [id]="eRef.ElementName"
         [type]="Type"
         (keyup)="keyUp($event)"
         [value]="UIConvert()" />
</mat-form-field>
<!--</div>-->
<!--<div *ngIf="!editMode">
  <label matInput>{{UIConvert()}}</label>
</div>-->
