<mat-grid-list [cols]="16"
               [rowHeight]="60">
  <mat-grid-tile [colspan]="1"
                 [rowspan]="12"
                 [style.background]="transparent">
    <app-toolbox-canvas [canvasID]="designertools"
                (toolselect)="SelectTool($event)"
                [system]="toolbar"></app-toolbox-canvas>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="15"
                 [rowspan]="12"
                 [style.background]="transparent">
    <app-canvas [canvasID]="designer"
                (edit)="ItemSelected($event)"
                [editSystem]="editor"
                [system]="designer"></app-canvas>
  </mat-grid-tile>
</mat-grid-list>
