
<mat-grid-list cols="5" rowHeight="50px">
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div style="background-color:darkgray; color: white; border-radius:8px;">
      <button mat-icon-button color="default" (click)="page(0)" [disabled]="prevDisabled">
        <mat-icon aria-label="First Record">first_page</mat-icon>
      </button>
      <button mat-icon-button color="default" (click)="page(1)" [disabled]="prevDisabled">
        <mat-icon aria-label="Previous Record">chevron_left</mat-icon>
      </button>
      <button mat-icon-button color="default" (click)="page(2)" [disabled]="nextDisabled">
        <mat-icon aria-label="Next Record">chevron_right</mat-icon>
      </button>
      <button mat-icon-button color="default" (click)="page(3)" [disabled]="nextDisabled">
        <mat-icon aria-label="Last Record">last_page</mat-icon>
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <span>Page Size:</span>
    <select matNativeControl [ngModel]="pageingService.model.pageSizeModel" (ngModelChange)="changePageSize($event)">
      <option *ngFor="let o of sizeOptions; index as i" [value]="o">{{o}}</option>
    </select>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
    <div style="text-align:right; width:100%; padding-right:20px">
      <file-uploader [sourceId]="sourceId"></file-uploader>
    </div>
  </mat-grid-tile>

</mat-grid-list>

