table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}

table, td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

.number td {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #FBFBFB;
}

tr:nth-child(odd) {
  background-color: #FDFDFD;
}

.selected {
  background-color: #663300 !important;
  color: #ffffcc;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #003300;
  color: yellow;
}

.header-filter {
  width: 100%;
  text-align: right;
}

.header-filter_remove {
  width: 100%;
  text-align: right;
  color: tomato;
}

.header-label {
  width: 100%;
  text-align: left;
}
