<table class="defaultTable">
  <thead>
    <tr>
      <th>
        <div *ngIf="source.hasFilters" class="header-filter_remove">
          <mat-grid-list cols="1" rowHeight="30px">
            <mat-icon (click)="removeAllFilters()" aria-label="Remove all filters">not_interested</mat-icon>
          </mat-grid-list>
          <mat-grid-list cols="1" rowHeight="30px">
            <mat-icon (click)="saveFilter()" aria-label="Save Filter">save_alt</mat-icon>
          </mat-grid-list>
        </div>
      </th>
      <th *ngFor="let element of VisibleElements" style="width:10%">
        <mat-grid-list cols="3" rowHeight="30px">
          <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
            <div style="text-align:left">{{element.FilterDescription}}</div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
            <div *ngIf="element.FilterApplied" class="header-filter_remove">
              <mat-icon (click)="removeFilter(element)" aria-label="Remove Filter">not_interested</mat-icon>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1" style="text-align:left">
            <div class="header-label">
              {{ElementLabel(element)}}
              <button mat-icon-button color="default" (click)="Sort(element)">
                <mat-icon aria-label="Ascending"
                          *ngIf="element.SortOrder() == sortOrder.ascending">arrow_drop_up</mat-icon>
                <mat-icon aria-label="None"
                          *ngIf="element.SortOrder() == sortOrder.unsorted">remove</mat-icon>
                <mat-icon aria-label="Descending"
                          *ngIf="element.SortOrder() == sortOrder.descending">arrow_drop_down</mat-icon>
              </button>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1" style="text-align:left">
            <div class="header-filter" *ngIf="!element.FilterApplied">
              <i class="fa fa-filter" style="padding-right:5px" (click)="toggleFilter(element)"></i>
            </div><div class="header-filter_remove" *ngIf="element.FilterApplied">
              <i class="fa fa-filter" style="padding-right:5px" (click)="toggleFilter(element)"></i>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of source.Fields[0].Data; index as i"
        (click)="selectRecord(i)"
        [class.selected]="source.SelectedIndex()==i">
      <td style="width:2%">{{i+1}}</td>
      <td *ngFor="let element of VisibleElements" style="width:10%">
        {{CellData(element,i)}}
      </td>
      <td style="text-align:right">
        <button mat-icon-button color="default" (click)="GotoDetail(i)">
          <mat-icon aria-label="Ascending">view_compact</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <!--<tr>
      <td>Sum</td>
      <td>$180</td>
    </tr>-->
  </tfoot>
</table>
