<mat-grid-list [cols]="32"
               [rowHeight]="60">
  <mat-grid-tile [colspan]="32"
                 [rowspan]="1"
                 [style.background]="yellow">
    <div style="width:100%; text-align:center">
      <app-canvas-designer-property-toolbar [PropertyId]="selectedId"
                                            [selectedItemTop]="editTop"
                                            [selectedItemLeft]="editLeft"
                                            [selectedItemWidth]="editWidth"
                                            [selectedItemHeight]="editHeight"
                                            (updatePort)="UpdatePort($event)"
                                            (selectedType)="TypeSelected($event)"
                                            (copySelectedItem)="CopySelectedItem()"
                                            (colorSelected)="ColorSelected($event)"
                                            (deleteSelectedItem)="DeleteSelectedItem()"
                                            (shapeChanged)="ShapeChanged($event)"></app-canvas-designer-property-toolbar>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="32"
                 [rowspan]="11"
                 [style.background]="transparent">
    <static-canvas *ngIf="!canvasService.EditOn"
                 [canvasID]="canvasService.SelectedUnitCellId"
                 [width]="1000"
                 [height]="800"></static-canvas>
    <edit-canvas *ngIf="canvasService.EditOn"
                 [canvasID]="canvasService.SelectedUnitCellId"
                 (Select)="ShapeSelected($event)"
                 [width]="1000"
                 [height]="800">
    </edit-canvas>
  </mat-grid-tile>
</mat-grid-list>
