<mat-grid-list [cols]="32"
               [rowHeight]="60">
  <mat-grid-tile [colspan]="32"
                 [rowspan]="1"
                 [style.background]="yellow">
    <div style="width:100%; text-align:center">
      <app-canvas-designer-property-toolbar
        [PropertyId]="selectedId"
        (selectedType)="TypeSelected($event)"
        (copySelectedItem)="CopySelectedItem()"
        (colorSelected)="ColorSelected($event)"
        (deleteSelectedItem)="DeleteSelectedItem()"></app-canvas-designer-property-toolbar>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="32"
                 [rowspan]="11"
                 [style.background]="transparent">
    <app-canvas [canvasID]="designerCanvas"
                width="100%"
                height="100%"
                (edit)="ItemSelected($event)"
                [editSystem]="editor"
                [system]="designer"></app-canvas>
  </mat-grid-tile>
</mat-grid-list>
