<div class="dialog-form">
  <div class="dialog-header">
    <h1 mat-dialog-title>Manage Ports</h1>
  </div>
  <!--<div mat-dialog-content>
    <p>{{deleteQuestion}}</p>
  </div>-->
  <div>
    <mat-grid-list cols="16" rowHeight="30px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <div style="width:100%; text-align:left">
          <label>Name</label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field class="full-width" [floatLabel]="'never'">
              <input matInput
                 [matAutocomplete]="portnames"
                 [formControl]="portName">
          <mat-autocomplete #portnames="matAutocomplete" 
                 (closed)="PortSelected()">
            <mat-option *ngFor="let port of ports" [value]="port.Id">
              <span>{{port.Id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
      <!--<mat-grid-tile [colspan]="5" [rowspan]="1">
        <div style="width:100%; text-align:left">
          <label class="xLabel">Offset X</label>
        </div>
      </mat-grid-tile>-->
      <mat-grid-tile [colspan]="16" [rowspan]="3">
        <div style="border:solid lightgray 1px; border-radius: 5px; width:90%; margin:3px; height:55px">
          <div style="width:100%; text-align:left;padding:5px">
            <label style="font-size:12px; font-weight:bold">Offset from center</label>
            <div style="width:100%; margin-top:5px">
              <div style="display:inline-block; padding-right:3px">
                <label>X</label>
              </div>
              <div style="display:inline-block; padding-right:3px">
                <input
                       type="number"
                       min="0" max="110"
                       class="offsetValue"
                       matInput
                       placeholder="0" [(ngModel)]="data.offsetX">
              </div>
              <div style="display:inline-block; padding-right:3px">
                <label>%</label>
              </div>
              <div style="display:inline-block; width:20px; padding-right:3px">

              </div>
              <div style="display:inline-block; padding-right:3px">
                <label>Y</label>
              </div>
              <div style="display:inline-block; padding-right:3px">
                <input
                       type="number"
                       min="0" max="110"
                       class="offsetValue"
                       matInput placeholder="0"
                       [(ngModel)]="data.offsetY">
              </div>
              <div style="display:inline-block; padding-right:3px">
                <label>%</label>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <div style="width:100%; text-align:left">
          <label class="xLabel">Path</label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-select placeholder="Select Path" [(ngModel)]="data.path">
          <mat-option *ngFor="let path of canvasService.BaseSystem.Paths" [value]="path.Id">
            {{path.Id + ' : '+ path.LineId}}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">

      </mat-grid-tile>
      <mat-grid-tile [colspan]="16" [rowspan]="2" style="text-align:left">
        <div mat-dialog-actions class="button-row" style="width:100%">
          <button mat-stroked-button color="warn"
                  (click)="RemovePort()"
                  [disabled]="!PortSaved"
                  [mat-dialog-close]="data" cdkFocusInitial>
            Remove
          </button>
          <button mat-stroked-button color="primary"
                  [disabled]="!ValidLineName"
                  [mat-dialog-close]="data" cdkFocusInitial>
            {{okMessage}}
          </button>
          <button mat-stroked-button
                  color="basic" (click)="onNoClick()">
            {{cancelMessage}}
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

