<nav-menu></nav-menu>
<mat-drawer-container class="example-container">
  <mat-drawer #sidePanel mode="side" closed>
    <div style="padding:10px">
      <section class="example-section">
        <ul>
          <li>
            <span class="example-list-section">
              <mat-checkbox
                (change)="setTimeLineType($event)"
                class="example-margin">
                <span>Century</span>
              </mat-checkbox>
            </span>
          </li>
          <li>
            <span class="example-list-section">
              <mat-checkbox
                (change)="setTimeLineType($event)"
                class="example-margin">
                <span>Decade</span>
              </mat-checkbox>
            </span>
          </li>
          <li>
            <span class="example-list-section">
              <mat-checkbox
                (change)="setTimeLineType($event)"
                class="example-margin">
                <span>Year</span>
              </mat-checkbox>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-grid-list [cols]="64"
                   [rowHeight]="100">
      <mat-grid-tile [colspan]="1"
                     [rowspan]="4"
                     [style.background]="'#aaaaaa'"
                     class="script-menu">
        <button mat-icon-button color="primary" (click)="Toggle(sidePanel)">
          <mat-icon *ngIf="sidePanelOpen" aria-label="Close Side Panel">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="!sidePanelOpen" aria-label="Open Side Panel">keyboard_arrow_right</mat-icon>
        </button>
      </mat-grid-tile>
      <!--<mat-grid-tile [colspan]="62"
                     [rowspan]="2"
                     [style.background]="'transparent'">

        <action-canvas [canvasID]="'timeline-year'"
                       [width]="100"
                       [layerName]="_timeLineType"
                       [height]="30"></action-canvas>


      </mat-grid-tile>-->

      <mat-grid-tile [colspan]="1"
                     [rowspan]="4"
                     [style.background]="'#aaaaaa'">

      </mat-grid-tile>
      <mat-grid-tile [colspan]="62"
                     [rowspan]="2"
                     [style.background]="'blue'">
        <action-canvas [canvasID]="'family-tree'"
                       [width]="100"
                       [layerName]="'family-tree'"
                       [height]="30"></action-canvas>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>


