<div class="dialog-form">
  <div class="dialog-header">
    <h1 mat-dialog-title>Update Lines</h1>
  </div>
  <mat-dialog-content>
    <mat-grid-list cols="16" rowHeight="40px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <label>Name</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1" style="text-align:left">
        <mat-form-field [floatLabel]="'never'">
          <input matInput
                 [matAutocomplete]="linenames"
                 [formControl]="lineName">
          <mat-autocomplete #linenames="matAutocomplete" 
                 (closed)="LineSelected()">
            <mat-option *ngFor="let line of lines | async" [value]="line.Id">
              <span>{{line.Id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <label style="padding-right:6px">Type</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1" style="text-align:left">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedType">
            <mat-option *ngFor="let type of lineTypesss" [value]="type.valuex">
              {{type.namex}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <label>State</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1" style="text-align:left">
        <mat-form-field [floatLabel]="'never'">
          <mat-select [(ngModel)]="stateName">
            <mat-option *ngFor="let state of States" [value]="state">
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--     <display-state-selector [stateName]="lineState" (stateChange)="OnStateChange($event)"></display-state-selector>-->
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <label style="padding-right:5px">Path</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="12" [rowspan]="1">
        <mat-form-field [floatLabel]="'never'">
          <input matInput
                 [matAutocomplete]="pathnames"
                 placeholder="name"
                 [formControl]="pathName">
          <mat-autocomplete #pathnames="matAutocomplete">
            <mat-option *ngFor="let path of paths | async" [value]="path.Id">
              <span>{{path.Id}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-icon-button aria-label="Add Path"
                (click)="AddPath()"
                [disabled]="!ValidLineName || !ValidPathName || PathNameSaved">
          <mat-icon>playlist_add</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="16" [rowspan]="2" style="text-align:left">
        <div mat-dialog-actions class="button-row" style="width:100%">
          <button mat-stroked-button color="warn"
                  (click)="RemoveLine()"
                  [disabled]="!LineSaved"
                  [mat-dialog-close]="data" cdkFocusInitial>
            Remove
          </button>
          <button mat-stroked-button color="primary"
                  [disabled]="!ValidLineName"
                  [mat-dialog-close]="data" cdkFocusInitial>
            {{okMessage}}
          </button>
          <button mat-stroked-button
                  color="basic" (click)="onNoClick()">
            {{cancelMessage}}
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
</div>
