<!--<fa-icon aria-label="Filter content" icon="filter"></fa-icon>-->
<!--<form-filter [elements]="elements" [form]="form"></form-filter>-->
<nav-menu></nav-menu>
<mat-card class="form-card">
  
  <mat-card-content>
    <form-pager (pageaction)="page($event)"
                [mode]="pagingMode.byRecord"
                [recordCount]="Source.Total"
                [pageCount]="Source.page.PageCount"
                [formDirty]="Source.IsDirty"
                [pageSize]="Source.PageSize"
                (pagesizeOut)="SetFormContent($event)"
                [recordNumber]="Source.CurrentRecordNumber"
                [sourceId]="sourceName"
                [pageNumber]="Source.page.PageNumber">
    </form-pager>
    <!--<form class="example-form">
      <div [formGroup]="Form" class="form-group">
      </div>

    </form>-->

    <router-outlet></router-outlet>

  </mat-card-content>
</mat-card>
