<mat-grid-list [cols]="layout.getLayoutColumnCount(layoutIndex)"
               [rowHeight]="layout.getLayoutRowHeight(layoutIndex)">
  <mat-grid-tile *ngFor="let c of layout.Columns(layoutIndex); index as i"
                 [colspan]="c.ColSpan(layout.Layout.Size)"
                 [rowspan]="c.RowSpan(layout.Layout.Size)"
                 [style.background]="c.Color">
    <!--<static-canvas [canvasID]=""
                [source]="source"
                (select)="onSelect($event)"></static-canvas>-->
  </mat-grid-tile>
</mat-grid-list>

