<form #systemInventoryform='ngForm' novalidate>
  <!--<mat-card>
    <ol-map></ol-map>
  </mat-card>-->
  <mat-card>
    <d3svgItem [chartID]="'VBarChart'"

               [chartWidth]="800"
               [chartHeight]="300"
               [marginTop]="80"
               [marginLeft]="80"
               [marginRight]="60"
               [marginBottom]="50"></d3svgItem>
  </mat-card>
  <!--<mat-card>-->
    <mat-card>
      <app-canvas [canvasID]="ex1" [width]="300" [height]="600" ></app-canvas>
    </mat-card>
    <mat-card>
      <app-canvas [canvasID]="ex1" [width]="300" [height]="600" ></app-canvas>
    </mat-card>
    <mat-card>
      <app-canvas [canvasID]="ex2" [system]="barSystem" [width]="800" [height]="600" ></app-canvas>
    </mat-card>
    <!--<d3svgItem [chartID]="'multiSeriesLineChartExample'"
       [chartWidth]="1500"
       [chartHeight]="600"
       [marginTop]="20"
       [marginLeft]="50"
       [marginRight]="80"
       [marginBottom]="30"></d3svgItem>-->
    <!--   </mat-card>-->
    <!--<d3svgItem [chartID]="'multiSeriesLineChartExample'"
         [chartWidth]="1500"
         [chartHeight]="600"
         [marginTop]="20"
         [marginLeft]="50"
         [marginRight]="80"
         [marginBottom]="30"></d3svgItem>-->
    <!--</mat-card>
   <mat-card>
    <d3svgItem [chartID]="'inventorybyarea200'"
               [chartWidth]="1000"
               [chartHeight]="600"
               [marginTop]="130"
               [marginLeft]="120"
               [marginRight]="70"
               [marginBottom]="40"></d3svgItem>
  </mat-card>-->
</form>
