<!--<mat-grid-list cols="4" rowHeight="40px">
  <mat-grid-tile colspan="4">-->
<mat-toolbar color="primary">
  <span>{{pageTitle}}</span>
  <!--<mat-menu>-->
  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="mes" *ngIf="userService.isLoggedIn">
    MES
  </button>
  <button mat-icon-button [matMenuTriggerFor]="hr" *ngIf="userService.isLoggedIn">
    HR
  </button>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-spacer"></span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button color="error">
    <mat-icon aria-label="PDF">insert_photo</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon aria-label="Text">publish</mat-icon>
  </button>
  <button mat-icon-button color="default">
    <mat-icon aria-label="Send as Email">email</mat-icon>
  </button>
  <button mat-icon-button color="default" routerLink="/login" *ngIf="!userService.isLoggedIn">
    <mat-icon aria-label="Login">input</mat-icon>
  </button>
  <button mat-icon-button color="default" *ngIf="userService.isLoggedIn" [matMenuTriggerFor]="user">
    <mat-icon aria-label="Login">person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #mes="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="hotmill">Hot Mill</button>
  <button mat-menu-item [matMenuTriggerFor]="tools">Tools</button>
</mat-menu>

<mat-menu #hotmill="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="productionreports">Production Reports</button>
</mat-menu>

<mat-menu #productionreports="matMenu">
  <button mat-menu-item routerLink="/hrmproductionhistory">HRM Production History</button>
</mat-menu>

<mat-menu #user="matMenu">
  <div style="padding:10px; background-color:WindowFrame">
    <a mat-menu-item routerLink="/userInfo">{{userService.UserName}}</a>
  </div>
  <button mat-menu-item (click)="Logout()">Log Out</button>
</mat-menu>

<mat-menu #tools="matMenu">
  <button mat-menu-item routerLink="/systeminventory">System Inventory</button>
</mat-menu>

<mat-menu #hr="matMenu">
  <button mat-menu-item>Employee Swipes Report</button>
</mat-menu>

<router-outlet></router-outlet>


