.app-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisRed line {
  stroke: red;
}

.axisRed path {
  stroke: red;
}

.axisRed text {
  fill: red;
}



.basic-container {
  padding: 30px;
}

div#layout {
  text-align: center;
}

div#container {
  width: 1000px;
  height: 600px;
  margin: auto;
  background-color: #2F4A6D;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

