<div style="height:75vh">
  <form>
    <mat-grid-list cols="20" rowHeight="50px">
      <mat-grid-tile [colspan]="20"
                     [rowspan]="1"
                     [style.background]="'transparent'">
        <div style="background-color:darkgray; color: white; border-radius:8px">
          <button mat-icon-button color="default"
                  (click)="source.NewRecord(sourceIndex)"
                  [disabled]="source.IsDirty">
            <mat-icon aria-label="New Record">add</mat-icon>
          </button>
          <button mat-icon-button color="default"
                  (click)="OnRemove()">
            <mat-icon aria-label="Remove Record">remove</mat-icon>
          </button>
          <button mat-icon-button color="default"
                  (click)="SaveChanges()"
                  [disabled]="!source.IsDirty">
            <mat-progress-spinner *ngIf="servicing" class="example-margin"
                                  [color]="color"
                                  [diameter]="diameter"
                                  [mode]="mode"
                                  [value]="value">
            </mat-progress-spinner>
            <mat-icon aria-label="Save" *ngIf="!servicing">send</mat-icon>
          </button>
          <button mat-icon-button color="default"
                  (click)="onAction(actionType.undo)"
                  [disabled]="!source.IsDirty || formNew">
            <mat-icon aria-label="Undo Changes">undo</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let elm of Elements; index as i"
                     [colspan]=colspan
                     [rowspan]=rowspan
                     [style.background]="'transparent'">
        <input-edit *ngIf="elm.ModelID < 4"
                    [modelIndex]="0"
                    [formIndex]="sourceIndex"
                    [fieldIndex]="i">
        </input-edit>
        <check-selector *ngIf="elm.ModelID == 4"
                        [modelIndex]="0"
                        [formIndex]="sourceIndex"
                        [fieldIndex]="i">
        </check-selector>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
