<div style="height:75vh">
  <mat-grid-list cols="32" rowHeight="60px">
    <mat-grid-tile [colspan]="2"
                   [rowspan]="5"
                   [style.background]="'transparent'">
      <div>
        <div class="action-button-row">
          <button mat-mini-fab color="default"
                  (click)="onAction(actionType.create)"
                  [disabled]="formDirty">
            <mat-icon aria-label="New Record">add</mat-icon>
          </button>
        </div>
        <div class="action-button-row">
          <button mat-mini-fab color="default"
                  (click)="onAction(actionType.remove)">
            <mat-icon aria-label="Remove Record">remove</mat-icon>
          </button>
        </div>
        <div class="action-button-row">
          <button mat-mini-fab color="default"
                  (click)="onAction(actionType.save)"
                  [disabled]="!formDirty">
            <mat-progress-spinner *ngIf="servicing" class="example-margin"
                                  [color]="color"
                                  [diameter]="diameter"
                                  [mode]="mode"
                                  [value]="value">
            </mat-progress-spinner>
            <mat-icon aria-label="Save" *ngIf="!servicing">send</mat-icon>
          </button>
        </div>
        <div class="action-button-row">
          <button mat-mini-fab color="default"
                  (click)="onAction(actionType.undo)"
                  [disabled]="!formDirty || formNew">
            <mat-icon aria-label="Undo Changes">undo</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let elm of displayElements"
                   [colspan]="4"
                   [rowspan]="2"
                   [style.background]="'transparent'">
      <input-edit [element]="elm" (blur)="onBlur($event)"
                  [form]="form"></input-edit>
    </mat-grid-tile>
  </mat-grid-list>

</div>
