.mat-slider-horizontal {
  width: 230px;
}

.button-row {
  padding-left: 12px;
}

.button-row button{
  margin-right: 8px;
}

label {
  font-family: Verdana;
  font-size: 12px;
}

.dialog-header {
  width: 100%;
  background-color: lightgray;
  padding-left: 10px
}
